*{
    border: 2px solid red;
    font-family: 'Roboto', sans-serif;
}

body{
    background: url('/images/backcover.svg');
    padding: 25px 0px;
    min-height: 100vh;
    max-width: 80%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item{
    color: #191970;
}

.signin-btn{
    background-image: linear-gradient(to right, slateblue,violet);
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    border: none;
}

.learn-more-btn{
    background-image: linear-gradient(to right, slateblue,violet);
    font-size: 20px;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    border: none;
    height:50px;
    width:200px;
}

.nav-items{
    display: flex;
    gap: 40px;
}

.intro-section{
    display: flex;
}

.left-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #191970;
    font-size: 56px;
}

h4{
    color: #191970;

}